.estiloTitle{
    text-align: center; 
    text-decoration: underline;
    margin-bottom: 20px;
    font-weight: bold;
}

.estiloInput{
    border: 1px solid rgb(222, 204, 238); 
    background-color: rgb(219, 218, 219); 
    border-radius: 10px; 
    padding: 12px;
}

.estiloButton{
    border: 1px solid rgb(219, 218, 219); 
    background-color: rgb(222, 204, 238);
    border-radius: 10px;
    padding: 8px;
}

.p20{
    padding: 20px;
}